In [1]:
import pandas as pd
import numpy as np

##### set the path to where you downloaded.. please change my path because it is located at my personal computer.

In [2]:
train = pd.read_csv("F:\Micromax\downloads\data_sets\Hackerearth_ML_predict_happiness/train_happi.csv")

In [3]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [4]:
train.Is_Response.value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

# happy=1      not happy=0

In [5]:
train['Is_Response_val'] = train.Is_Response.map({'happy':1, 'not happy':0})

In [6]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,Is_Response_val
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,0
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,0
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,0
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,1
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,0

# Browser Mapping

In [7]:
train.Browser_Used.value_counts()

Firefox              7367
Edge                 7134
Google Chrome        4659
InternetExplorer     4588
Mozilla Firefox      4328
Mozilla              3092
Chrome               2470
IE                   2439
Internet Explorer    2103
Safari                390
Opera                 362
Name: Browser_Used, dtype: int64

In [8]:
train['Browser_Used'] = train.Browser_Used.map({'Edge':'Edge','Safari':'Safari','Opera':'Opera','Mozilla Firefox':'Firefox', 'Mozilla':'Firefox','InternetExplorer':'IE', 'Internet Explorer':'IE','Google Chrome':'Chrome'})

In [9]:
train.Browser_Used.value_counts()

Firefox    7420
Edge       7134
IE         6691
Chrome     4659
Safari      390
Opera       362
Name: Browser_Used, dtype: int64

In [10]:
col_data = pd.get_dummies(train.Browser_Used, prefix = 'Browser')

In [11]:
train = train.join(col_data)

In [12]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,Is_Response_val,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,0,0,1,0,0,0,0
1,id10327,I stayed at the Crown Plaza April -- - April -...,IE,Mobile,not happy,0,0,0,0,1,0,0
2,id10328,I booked this hotel through Hotwire at the low...,Firefox,Tablet,not happy,0,0,0,1,0,0,0
3,id10329,Stayed here with husband and sons on the way t...,IE,Desktop,happy,1,0,0,0,1,0,0
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,0,0,1,0,0,0,0

# Device

In [13]:
dummies_Device = pd.get_dummies(train.Device_Used, prefix = 'Device')

In [14]:
train = train.join(dummies_Device)

In [15]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,Is_Response_val,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,0,0,1,0,0,0,0,0,1,0
1,id10327,I stayed at the Crown Plaza April -- - April -...,IE,Mobile,not happy,0,0,0,0,1,0,0,0,1,0
2,id10328,I booked this hotel through Hotwire at the low...,Firefox,Tablet,not happy,0,0,0,1,0,0,0,0,0,1
3,id10329,Stayed here with husband and sons on the way t...,IE,Desktop,happy,1,0,0,0,1,0,0,1,0,0
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,0,0,1,0,0,0,0,0,0,1

# dropping extra col

In [16]:
train.drop(['Device_Used','Browser_Used','Is_Response','User_ID'],axis = 1, inplace = True)

In [17]:
train.head()

,Description,Is_Response_val,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
0,The room was kind of clean but had a VERY stro...,0,0,1,0,0,0,0,0,1,0
1,I stayed at the Crown Plaza April -- - April -...,0,0,0,0,1,0,0,0,1,0
2,I booked this hotel through Hotwire at the low...,0,0,0,1,0,0,0,0,0,1
3,Stayed here with husband and sons on the way t...,1,0,0,0,1,0,0,1,0,0
4,My girlfriends and I stayed here to celebrate ...,0,0,1,0,0,0,0,0,0,1

# y train

In [18]:
y = train.Is_Response_val

In [19]:
train.drop(['Is_Response_val'],axis = 1, inplace = True)

In [20]:
X = train

In [21]:
X.head()

,Description,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
0,The room was kind of clean but had a VERY stro...,0,1,0,0,0,0,0,1,0
1,I stayed at the Crown Plaza April -- - April -...,0,0,0,1,0,0,0,1,0
2,I booked this hotel through Hotwire at the low...,0,0,1,0,0,0,0,0,1
3,Stayed here with husband and sons on the way t...,0,0,0,1,0,0,1,0,0
4,My girlfriends and I stayed here to celebrate ...,0,1,0,0,0,0,0,0,1

# splitting data

In [22]:
from sklearn.cross_validation import train_test_split
from sklearn.model_selection import cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

F:\anaconda_setup\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [23]:
X_train.shape

(27252, 10)

In [24]:
X_test.shape

(11680, 10)

## count vectorization

In [25]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [26]:
stops = set(stopwords.words("english"))
def cleanData(text, lowercase = False, remove_stops = False, stemming = False):
    txt = str(text)
    txt = re.sub(r'[^A-Za-z0-9\s]',r'',txt)
    txt = re.sub(r'\n',r' ',txt)
    
    if lowercase:
        txt = " ".join([w.lower() for w in txt.split()])
        
    if remove_stops:
        txt = " ".join([w for w in txt.split() if w not in stops])
    
    if stemming:
        st = PorterStemmer()
        txt = " ".join([st.stem(w) for w in txt.split()])

    return txt

In [27]:
# clean description
X_train['Description'] = X_train['Description'].map(lambda x: cleanData(x, lowercase=True, remove_stops=True, stemming=True))
X_train['Description'].head()

F:\anaconda_setup\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

12443    place realli nice park lot big servic quick be...
9067     modern new clean great staff stay convent loca...
11608    search review wasnt sure expect metro pleasant...
38192    stay mani time last year alway pleasant stay w...
12057    daughter graduat columbia u made vacay hotel s...
Name: Description, dtype: object

In [28]:
X_train.head()

,Description,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
12443,place realli nice park lot big servic quick be...,0,0,0,1,0,0,0,0,1
9067,modern new clean great staff stay convent loca...,0,0,0,0,0,0,0,0,1
11608,search review wasnt sure expect metro pleasant...,0,0,0,1,0,0,0,0,1
38192,stay mani time last year alway pleasant stay w...,0,0,0,1,0,0,0,1,0
12057,daughter graduat columbia u made vacay hotel s...,0,1,0,0,0,0,0,0,1

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [30]:
vect.fit(X_train.Description)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [31]:
vect.get_feature_names()

['aa',
 'aaa',
 'aaaa',
 'aaaaalll',
 'aaaahhhhhhhhh',
 'aaaandddd',
 'aaah',
 'aaahhh',
 'aaahhhhh',
 'aaargh',
 'aain',
 'aaron',
 'aarp',
 'aarron',
 'aatc',
 'aau',
 'ab',
 'aback',
 'abandon',
 'abaout',
 'abat',
 'abb',
 'abbi',
 'abbrevi',
 'abc',
 'abccbsnbc',
 'abd',
 'abdomen',
 'abdul',
 'abe',
 'abeit',
 'abercrombi',
 'aberr',
 'abett',
 'abhorr',
 'abid',
 'abigail',
 'abigal',
 'abil',
 'abit',
 'abiturbo',
 'abject',
 'abl',
 'ablut',
 'abnorm',
 'abod',
 'abolish',
 'abomin',
 'abood',
 'abort',
 'abou',
 'abound',
 'abour',
 'about',
 'abouta',
 'aboutbut',
 'abouth',
 'aboutit',
 'aboutno',
 'aboutord',
 'aboutth',
 'aboutthey',
 'aboutw',
 'aboveandbeyond',
 'aboveaverag',
 'abovebelow',
 'abovecount',
 'abovei',
 'aboveil',
 'aboveit',
 'abovel',
 'abovesound',
 'aboveth',
 'abraham',
 'abras',
 'abri',
 'abroad',
 'abroadoveral',
 'abrupt',
 'abruptli',
 'abscond',
 'absenc',
 'absent',
 'absolout',
 'absolultey',
 'absolut',
 'absolutebl',
 'absolutey',
 'absolutl',
 'absolutley',
 'absolutli',
 'absorb',
 'absord',
 'absoult',
 'absoulut',
 'absout',
 'abstract',
 'absurb',
 'absurd',
 'absurdli',
 'absym',
 'abt',
 'abthroom',
 'abu',
 'abund',
 'abundantli',
 'abus',
 'abusaif',
 'abut',
 'abvail',
 'abysm',
 'abysmalwhi',
 'abyssm',
 'ac',
 'academ',
 'academi',
 'acai',
 'acapulco',
 'acc',
 'acccess',
 'accclim',
 'acccommod',
 'acccount',
 'acced',
 'acceler',
 'accent',
 'accentu',
 'accep',
 'accept',
 'acceptablealthough',
 'acceptablehow',
 'acceptalb',
 'accepti',
 'acces',
 'access',
 'accessbl',
 'accessbut',
 'accessguest',
 'accessibi',
 'accessibilti',
 'accessibl',
 'accessiblegood',
 'accessiblehowev',
 'accessibletransport',
 'accessmust',
 'accessor',
 'accessori',
 'accessveri',
 'accesswheelchair',
 'accesswir',
 'accet',
 'accid',
 'accident',
 'accidint',
 'acclaim',
 'acclim',
 'accolad',
 'accom',
 'accomad',
 'accomadatingw',
 'accomadt',
 'accomand',
 'accomd',
 'accomend',
 'accomid',
 'accominad',
 'accomm',
 'accommad',
 'accommadatingeven',
 'accommend',
 'accommid',
 'accommmod',
 'accommod',
 'accommodatingbut',
 'accommodatingi',
 'accommodatingpatrick',
 'accommodatingthey',
 'accommodatingthi',
 'accommodationlov',
 'accommodationshotel',
 'accomoc',
 'accomod',
 'accomodatibg',
 'accomodatingeven',
 'accomodatingin',
 'accomodatingit',
 'accomodatingl',
 'accomodatingwhich',
 'accomodationfram',
 'accomodi',
 'accomond',
 'accompani',
 'accomplish',
 'accompni',
 'acconomod',
 'accor',
 'accord',
 'accordian',
 'accordingli',
 'accordion',
 'accordy',
 'accoss',
 'accost',
 'accotr',
 'account',
 'accountpoint',
 'accountth',
 'accountthen',
 'accouter',
 'accoutr',
 'accreditati',
 'accross',
 'accru',
 'acct',
 'acctg',
 'accuar',
 'accuml',
 'accumu',
 'accumul',
 'accur',
 'accuraci',
 'accuratli',
 'accurr',
 'accus',
 'accusatori',
 'accusotom',
 'accustom',
 'ace',
 'acela',
 'acerb',
 'acess',
 'acesss',
 'aceven',
 'ach',
 'acheat',
 'achi',
 'achiev',
 'achievei',
 'achingli',
 'acid',
 'acidi',
 'acitivi',
 'acknoledg',
 'acknolwedg',
 'acknowledg',
 'acknowleg',
 'acknowlegd',
 'ackowledg',
 'ackward',
 'aclub',
 'acm',
 'acnon',
 'acnowledg',
 'acolyt',
 'acommod',
 'acondicionado',
 'acondit',
 'acoomid',
 'acorn',
 'acoss',
 'acoupl',
 'acoust',
 'acqua',
 'acquaint',
 'acquaintenancescli',
 'acquarium',
 'acquir',
 'acquisit',
 'acr',
 'acrefabul',
 'acri',
 'acro',
 'acrobat',
 'acroo',
 'across',
 'acrossno',
 'acrosstown',
 'acrss',
 'acryl',
 'acsmal',
 'act',
 'actbiltmor',
 'action',
 'actionnic',
 'actionsattitud',
 'actitud',
 'activ',
 'activi',
 'activit',
 'activitiesrentalsect',
 'activitiesso',
 'activitiesw',
 'activitylov',
 'activti',
 'actor',
 'actress',
 'actual',
 'actuallythi',
 'acual',
 'acur',
 'acura',
 'acustom',
 'acut',
 'acvitiy',
 'acwhenev',
 'acwhich',
 'ad',
 'ada',
 'adaaccess',
 'adag',
 'adagio',
 'adam',
 'adamantli',
 'adamsmorgan',
 'adamsquinci',
 'adant',
 'adapt',
 'adaptor',
 'adaqu',
 'adaquit',
 'aday',
 'add',
 'addebbitato',
 'addedtook',
 'addict',
 'addion',
 'addison',
 'addit',
 'additiona',
 'additionn',
 'additon',
 'addituon',
 'addl',
 'addon',
 'addonextra',
 'addres',
 'address',
 'addresswhich',
 'addtion',
 'ade',
 'adel',
 'adela',
 'adelaid',
 'adema',
 'adept',
 'adeqaut',
 'adequ',
 'adequat',
 'adequateaverag',
 'adequatebathroom',
 'adequatedec',
 'adequatefor',
 'adequatein',
 'adequatesom',
 'adequatestylish',
 'adequateth',
 'adequet',
 'adequit',
 'adequteno',
 'adesso',
 'adev',
 'adhara',
 'adher',
 'adi',
 'adibu',
 'adida',
 'adiqu',
 'adirondack',
 'adirondak',
 'adit',
 'adjac',
 'adjacentconnect',
 'adjacentwhich',
 'adject',
 'adjo',
 'adjoin',
 'adjoing',
 'adjoinign',
 'adjoiningconnect',
 'adjoiningquietnonsmok',
 'adjon',
 'adjust',
 'adjustor',
 'adler',
 'adleresqu',
 'admin',
 'administ',
 'administr',
 'administrationmgrsmainten',
 'adminstr',
 'admir',
 'admire',
 'admiss',
 'admisss',
 'admist',
 'admit',
 'admitshula',
 'admittedli',
 'admonish',
 'admonit',
 'adn',
 'adob',
 'adolesc',
 'adolphu',
 'adopt',
 'ador',
 'adorn',
 'adour',
 'adrenalin',
 'adress',
 'adrian',
 'adriana',
 'adslov',
 'adtech',
 'adult',
 'adultbusinessman',
 'adults',
 'adultsfelt',
 'adultsteenag',
 'adultsteennot',
 'adultstoddl',
 'adultsw',
 'advanatg',
 'advanc',
 'advancehelp',
 'advang',
 'advantag',
 'advantagemi',
 'advantg',
 'adven',
 'adventur',
 'adventuresom',
 'adverag',
 'advers',
 'advert',
 'advertis',
 'advertisedeveri',
 'advertisementsw',
 'advertur',
 'advic',
 'advicebuy',
 'advicedont',
 'adviceif',
 'advicer',
 'advicetak',
 'advid',
 'advil',
 'advirtis',
 'advis',
 'advisd',
 'advisegood',
 'advisespend',
 'advisor',
 'advisorcom',
 'advisori',
 'advisorw',
 'advoc',
 'ae',
 'aerial',
 'aerob',
 'aeron',
 'aesthet',
 'af',
 'afar',
 'afb',
 'afcours',
 'afeatur',
 'afeild',
 'afer',
 'afew',
 'affabl',
 'affadavit',
 'affair',
 'affct',
 'affect',
 'affection',
 'affer',
 'affiar',
 'affici',
 'affili',
 'affin',
 'affina',
 'affinia',
 'affininia',
 'affird',
 'affirm',
 'affix',
 'affluent',
 'affnia',
 'affor',
 'afford',
 'affort',
 'afgan',
 'afghan',
 'afghani',
 'afghanistan',
 'afgter',
 'aficionado',
 'afield',
 'afinia',
 'aflac',
 'afloat',
 'afoot',
 'aford',
 'aforement',
 'afraid',
 'afread',
 'afrer',
 'africa',
 'african',
 'africanamerican',
 'afro',
 'afroamerican',
 'aftar',
 'afteral',
 'afterdinn',
 'aftererward',
 'afterhour',
 'aftermath',
 'afternnon',
 'afternoon',
 'afternoonearli',
 'afternooneven',
 'afternoonit',
 'afternoonnight',
 'afternoonther',
 'afternoonthi',
 'afternooon',
 'aftershav',
 'aftershock',
 'aftersmel',
 'aftertast',
 'afterthought',
 'afterward',
 'afterword',
 'afterwork',
 'aftr',
 'aftter',
 'aftwr',
 'againa',
 'againagainagain',
 'againal',
 'againalso',
 'againand',
 'againbatteri',
 'againbtw',
 'againbut',
 'againcheck',
 'againchicago',
 'againclos',
 'againcomplain',
 'againdont',
 'againev',
 'againgross',
 'againhad',
 'againhav',
 'againhmmm',
 'againi',
 'againif',
 'againim',
 'againit',
 'againjust',
 'againlarg',
 'againlot',
 'againmanag',
 'againmayb',
 'againminor',
 'againno',
 'againnot',
 'againoh',
 'againon',
 'againrecommend',
 'againso',
 'againstood',
 'againth',
 'againther',
 'againtheyr',
 'againthi',
 'againtri',
 'againturn',
 'againunless',
 'againw',
 'againwhat',
 'againwithin',
 'againwould',
 'againy',
 'againyoud',
 'aganst',
 'agant',
 'agao',
 'agatha',
 'agav',
 'age',
 'agealmost',
 'ageappropri',
 'agelik',
 'agemodern',
 'agen',
 'agenc',
 'agencyi',
 'agenda',
 'agenoth',
 'agent',
 'agentbellman',
 'agentswhen',
 'agesignag',
 'agesth',
 'aggrav',
 'aggreg',
 'aggres',
 'aggress',
 'aggressic',
 'aggrev',
 'aggriev',
 'aghast',
 'agian',
 'agil',
 'agin',
 'aginwhich',
 'agit',
 'agn',
 'ago',
 'agobut',
 'agojust',
 'agomonth',
 'agon',
 'agonaut',
 'agoni',
 'agonic',
 'agonizingli',
 'agonoth',
 'agonow',
 'agooct',
 'agoso',
 'agpwatertow',
 'agre',
 'agree',
 'agreeabl',
 'agreedupon',
 'agreement',
 'agreeth',
 'agress',
 'agu',
 'agua',
 'ah',
 'aha',
 'ahad',
 'ahain',
 'ahav',
 'ahd',
 'ahe',
 'ahead',
 'aheadi',
 'aheadoftim',
 'ahem',
 'ahh',
 'ahhh',
 'ahhha',
 'ahhhh',
 'ahhhhhh',
 'ahhhhhhh',
 'ahi',
 'ahight',
 'ahippin',
 'ahm',
 'ahmad',
 'ahmanson',
 'ahoppin',
 'ahsan',
 'ahter',
 'ahv',
 'ai',
 'aibl',
 'aich',
 'aid',
 'aida',
 'aidw',
 'ail',
 'ailey',
 'ailment',
 'aim',
 'aime',
 'aimless',
 'aimlessli',
 'aint',
 'aioli',
 'aiplan',
 'aiport',
 'air',
 'aira',
 'airalso',
 'airb',
 'airbu',
 'aircard',
 'airco',
 'aircon',
 'aircondit',
 'aircondition',
 'airconditioningsoft',
 'airconditioningwat',
 'airconditionn',
 'airconditon',
 'aircondtiion',
 'airconh',
 'aircraft',
 'aircrew',
 'airfar',
 'airfarehotel',
 'airfield',
 'airfilt',
 'airflow',
 'airforc',
 'airfreshen',
 'airheat',
 'airhotel',
 'airi',
 'airid',
 'airier',
 'airless',
 'airlin',
 'airlink',
 'airman',
 'airmen',
 'airplan',
 'airplort',
 'airplug',
 'airpoart',
 'airport',
 'airporta',
 'airportal',
 'airportbreakfast',
 'airportcar',
 'airportclearli',
 'airportdont',
 'airporteveryth',
 'airportexcel',
 'airportfast',
 'airportfre',
 'airportget',
 'airportlax',
 'airportliberti',
 'airportlindberg',
 'airportlov',
 'airportnc',
 'airportnow',
 'airportrec',
 'airportshuttl',
 'airportth',
 'airportthat',
 'airportthey',
 'airportw',
 'airpot',
 'airpotr',
 'airshaft',
 'airshaftno',
 'airship',
 'airshow',
 'airspac',
 'airstat',
 'airstream',
 'airtel',
 'airtight',
 'airtraff',
 'airtrain',
 'airtrainlirr',
 'airtram',
 'airtran',
 'airwair',
 'airway',
 'aisl',
 'aix',
 'aiyetoro',
 'aj',
 'aja',
 'ajar',
 'ajaropen',
 'ajia',
 'ajo',
 'ajoin',
 'ajon',
 'ajust',
 'ajuua',
 'ak',
 'aka',
 'ake',
 'akima',
 'akin',
 'aks',
 'akshay',
 'akward',
 'al',
 'ala',
 'alabama',
 'alacart',
 'alacartcom',
 'alain',
 'alam',
 'alamo',
 'alamoaway',
 'alamobowl',
 'alamod',
 'alamodom',
 'alamoit',
 'alamon',
 'alamoriverwalk',
 'alan',
 'alarm',
 'alarmat',
 'alarmbut',
 'alarmingli',
 'alarmsi',
 'alarmsmokey',
 'alarmsth',
 'alaska',
 'alaskan',
 'albeit',
 'albert',
 'alberto',
 'albertson',
 'albiet',
 'album',
 'albuquerqu',
 'alcala',
 'alcatraaz',
 'alcatraz',
 'alcatrazbook',
 'alcatrazcruisescom',
 'alcatrazz',
 'alch',
 'alchohol',
 'alchol',
 'alcohol',
 'alcov',
 'alden',
 'alderwood',
 'ale',
 'alec',
 'alegra',
 'aleman',
 'alen',
 'alena',
 'alert',
 'alertingalarm',
 'alex',
 'alexa',
 'alexand',
 'alexandra',
 'alexandria',
 'alexi',
 'alexzandra',
 'alezia',
 'alfani',
 'alfano',
 'alfonso',
 'alfredo',
 'alfresco',
 'algea',
 'algo',
 'algonguin',
 'algonquin',
 'algonquinso',
 'algonquinwhen',
 'alguien',
 'ali',
 'alibi',
 'alic',
 'alicia',
 'alicianna',
 'alien',
 'alievi',
 'alight',
 'align',
 'alik',
 'alikenot',
 'alikew',
 'alimento',
 'alinea',
 'alioto',
 'alittl',
 'alittletooperson',
 'aliv',
 'aliya',
 'alk',
 'alkaseltz',
 'all',
 'allam',
 'allan',
 'alland',
 'allandal',
 'allar',
 'allaround',
 'allay',
 'allbeit',
 'allbesty',
 'allbut',
 'allcal',
 'allclean',
 'allday',
 'alldur',
 'alleg',
 'allegedli',
 'allegro',
 'allegrohighli',
 'allen',
 'allendal',
 'allenjoy',
 'allerg',
 'allergen',
 'allergenfre',
 'allergi',
 'allergin',
 'allergist',
 'allergyfriendli',
 'allergyrel',
 'allerton',
 'allevai',
 'allevi',
 'allexpens',
 'alley',
 'alleybett',
 'alleylik',
 'alleys',
 'alleyway',
 'alleywaywa',
 'allglass',
 'allgood',
 'allgreat',
 'allhotwir',
 'alli',
 'allianc',
 'allin',
 'allinal',
 'allinclus',
 'allinon',
 'allison',
 'allit',
 'allium',
 'alljust',
 'alll',
 'alllerton',
 'allll',
 'alllllll',
 'allllllll',
 'allloc',
 'alllow',
 'allmi',
 'allmirror',
 'allnight',
 'alloact',
 'alloc',
 'allonc',
 'allot',
 'allour',
 'allov',
 'allow',
 'allowedbut',
 'allowedsh',
 'allpervas',
 'allredi',
 'allright',
 'allround',
 'allsh',
 'allso',
 'allstar',
 'allth',
 'allthat',
 'allthough',
 'alltim',
 'alltogeth',
 'allunless',
 'allur',
 'allus',
 'allveri',
 'allway',
 'allweath',
 'allwent',
 'allwhen',
 'allwhit',
 'allwith',
 'allworth',
 'allyou',
 'allyoucan',
 'allyoucaneat',
 'allyson',
 'allywho',
 'alm',
 'alma',
 'almalfi',
 'almao',
 'almighti',
 'almond',
 'almost',
 'almostabandon',
 'almostnew',
 'almostparisian',
 'almostperfect',
 'almsot',
 'alo',
 'aloc',
 'alocohol',
 ...]

In [32]:
##  simple_train_dtm = vect.transform(train.Description)

X_train_dtm = vect.transform(X_train.Description)

In [33]:
## simple_train_dtm

X_train_dtm

<27252x41432 sparse matrix of type '<class 'numpy.int64'>'
	with 1742177 stored elements in Compressed Sparse Row format>

In [34]:
X_train_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [35]:
type(X_train_dtm)

scipy.sparse.csr.csr_matrix

In [36]:
X_train_dtm

<27252x41432 sparse matrix of type '<class 'numpy.int64'>'
	with 1742177 stored elements in Compressed Sparse Row format>

# test

In [37]:
X_test_dtm = vect.transform(X_test.Description)
X_test_dtm

<11680x41432 sparse matrix of type '<class 'numpy.int64'>'
	with 620054 stored elements in Compressed Sparse Row format>

# modeling

In [38]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [39]:
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [40]:
y_pred_class = nb.predict(X_test_dtm)

In [41]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.47782534246575342

In [42]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class)

array([[3682,   87],
       [6012, 1899]])

In [43]:
y_pred_class

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

# other models

In [47]:
from sklearn.linear_model import LogisticRegression
nb = LogisticRegression()

In [48]:
nb.fit(X_train_dtm, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [49]:
y_pred_class = nb.predict(X_test_dtm)

In [50]:
metrics.accuracy_score(y_test, y_pred_class)

0.68013698630136987

# Test dataset

In [148]:
vect.fit(X.Description)
X_dtm = vect.transform(X.Description)
X_dtm

<38932x46016 sparse matrix of type '<class 'numpy.int64'>'
	with 3677427 stored elements in Compressed Sparse Row format>

In [149]:
X_test2 = pd.read_csv("F:\Micromax\downloads\data_sets\Hackerearth_ML_predict_happiness/test_happi.csv")

In [150]:
X_test2.head()

,User_ID,Description,Browser_Used,Device_Used
0,id80132,Looking for a motel in close proximity to TV t...,Firefox,Mobile
1,id80133,Walking distance to Madison Square Garden and ...,InternetExplorer,Desktop
2,id80134,Visited Seattle on business. Spent - nights in...,IE,Tablet
3,id80135,This hotel location is excellent and the rooms...,Edge,Mobile
4,id80136,This hotel is awesome I love the service Antho...,Mozilla,Mobile

In [151]:
X_test2.Browser_Used.value_counts()

Firefox              5676
Edge                 5303
InternetExplorer     3603
Google Chrome        3391
Mozilla Firefox      3198
Mozilla              2333
Chrome               1886
IE                   1831
Internet Explorer    1597
Opera                 306
Safari                280
Name: Browser_Used, dtype: int64

In [152]:
X_test2['Browser_Used'] = X_test2.Browser_Used.map({'Edge':'Edge','Safari':'Safari','Opera':'Opera','Mozilla Firefox':'Firefox', 'Mozilla':'Firefox','InternetExplorer':'IE', 'Internet Explorer':'IE','Google Chrome':'Chrome'})

In [153]:
X_test2.Browser_Used.value_counts()

Firefox    5531
Edge       5303
IE         5200
Chrome     3391
Opera       306
Safari      280
Name: Browser_Used, dtype: int64

In [154]:
col_data = pd.get_dummies(X_test2.Browser_Used, prefix = 'Browser')

In [155]:
X_test2 = X_test2.join(col_data)
dummies_Device = pd.get_dummies(X_test2.Device_Used, prefix = 'Device')
X_test2 = X_test2.join(dummies_Device)
X_test2.drop(['Device_Used','Browser_Used'],axis = 1, inplace = True)

In [156]:
X_test2.head()

,User_ID,Description,Browser_Chrome,Browser_Edge,Browser_Firefox,Browser_IE,Browser_Opera,Browser_Safari,Device_Desktop,Device_Mobile,Device_Tablet
0,id80132,Looking for a motel in close proximity to TV t...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,id80133,Walking distance to Madison Square Garden and ...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,id80134,Visited Seattle on business. Spent - nights in...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,id80135,This hotel location is excellent and the rooms...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,id80136,This hotel is awesome I love the service Antho...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [157]:
X_test2_dtm = vect.transform(X_test2.Description)
X_test2_dtm

<29404x46016 sparse matrix of type '<class 'numpy.int64'>'
	with 2769087 stored elements in Compressed Sparse Row format>

In [163]:
## from sklearn.naive_bayes import MultinomialNB
## nb = MultinomialNB()
from sklearn.linear_model import LogisticRegression
nb = LogisticRegression()

nb.fit(X_dtm, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [164]:
y_pred2_class = nb.predict(X_test2_dtm)

In [165]:
final = pd.DataFrame({'User_ID':X_test2.User_ID, 'Is_Response':y_pred2_class}).set_index('User_ID')

In [166]:
final['Is_Response'] = final.Is_Response.map({1:'happy', 0:'not happy'})

In [167]:
final.to_csv('happiness_sub2_LR.csv')